.card-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;

}

.card {
  background-image: linear-gradient(#E4ECFC, #B2A7BB);
  border-radius: 65px;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 20px;
  padding: 35px;
  position: relative;
  display: inline-block;
  text-align: center;

}

.form-group {
  padding: 10px;
}

.submit {
  color: #fff;
  background-color: #5E5E5E;
  font-weight: 300;
  width: 150px;
  margin:10px;
  margin: auto;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.75;
  border-radius: .75rem;
}
