.background {
  background-color: #809492;
}

a.nav-link {
  text-decoration-line: none !important;
  text-decoration-style: none;
  text-decoration-color: none;
  border-bottom: none;
}

#logo {
  width: 100px;
  text-align: center;
  margin: auto;
}