.wrapper {
  background-color: #E1E2E1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-top: 40px;
  padding-bottom: 50px;
}