

{{!-- Monthly card layout. --}}

<div class="contatiner cardContainer">
    <div class="row">

        {{!-- Add new entry card. --}}
        <div class="card mb-3 col-sm-12 col-lg-6 col-xl-4">
            <div class="plusButton">
                <span class="add"><a href="/monthly/new">+</a></span>
            </div>
        </div>


        {{!-- Main monthly card. --}}
        {{#each monthly}}
        <div class="card mb-3 col-sm-12 col-lg-6 col-xl-4">

            <div class="card-header bg-transparent">
                <div id="monthlyRow">
                    <span>JANUARY</span>
                    <span><strong>SUMMARY</strong></span>
                </div>
            </div>

            <div class="card-body">
                <div class="contentSection">
                    <span class="contentSection">
                        <i class="fas fa-history"></i>
                        <strong>Remember:</strong> {{remember}}
                    </span>
                    <br>
                    <span class="contentSection">
                        <i class="fas fa-stopwatch"></i>
                        <strong>Start:</strong> {{start}}
                    </span>
                    <br>
                    <span class="contentSection">
                        <i class="fas fa-ban"></i>
                        <strong>Stop:</strong> {{stop}}
                    </span>
                </div>

            </div>

            <div class="card-footer bg-transparent habitsRow">
                <div>
                    <span>
                        <i class="fas fa-running"></i>
                    </span>
                    <span>
                        <i class="fas fa-dumbbell"></i>
                    </span>
                    <span>
                        <i class="fas fa-tint"></i>
                    </span>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>



